// 建议所有项目自定义样式放在该文件夹下
.clearfix:before,.clearfix:after { 
content:""; 
display:table; 
} 
.clearfix:after { clear:both; }/* For IE 6/7 (trigger hasLayout) */ 
.clearfix { zoom:1; } 

// 宽度
.container{
    width: 1395px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

//   中等宽度
.container-mid{width: 1100px;}



a:focus,
a{text-decoration: none;}
li{list-style: none; }
ul{padding-left: 0;margin-bottom: 0;}




// 
// index-main
.m-main{
    padding-top: 22px;
    padding-bottom: 50px;
    // 
    .index-left{
        float: left;
    }
    // 
    .index-right{
        float: right;
        width: 1100px;
    }
}

// page
.m-page{
    text-align: center;
    nz-pagination{
        display: inline-block;
    }
    p{
        margin: 15px 0; 
    }
    .ant-pagination-item{
        min-width: 40px;
    }
    .ant-pagination-prev, .ant-pagination-next, .ant-pagination-jump-prev, .ant-pagination-jump-next{
        min-width: 40px;
    }
    .ant-pagination-item:focus, .ant-pagination-item:hover {
        transition: all .3s;
        border-color: #73ceb1;
    }
    .ant-pagination-prev:focus .ant-pagination-item-link, .ant-pagination-next:focus .ant-pagination-item-link, .ant-pagination-prev:hover .ant-pagination-item-link, .ant-pagination-next:hover .ant-pagination-item-link {
        border-color: #73ceb1;
        color: #73ceb1;
    }
    .ant-pagination-item-active,
    .ant-pagination-item-active:focus, .ant-pagination-item-active:hover{
        background-color: #73ceb1;
        border-color: #73ceb1;
    }
    .ant-pagination-item:focus a, .ant-pagination-item:hover a {
        color: #73ceb1;
    }
    .ant-pagination-item-active a, .ant-pagination-item-active:focus a, .ant-pagination-item-active:hover a {
        color: #fff;
    }

}


.m-table-page{
    margin-top: 10px;
    text-align: right;
}

//
.m-box{
    padding: 20px;
    background-color: #fff;
    border-radius: 6px;
    -moz-box-shadow:0px 1px 4px #efefef; -webkit-box-shadow:0px 1px 4px #efefef; box-shadow:0px 1px 4px #efefef;
}



//   modal
//  modal
.vertical-center-modal {
    display: flex;
    align-items: center;
    justify-content: center;
}

//   弹窗
.ant-modal{
    .ant-modal-content{
        border-radius: 10px;
    }
    .ant-modal-header{
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
        background-color: #73ceb1;
        color: #fff;
        .ant-modal-title{
            text-align: center;
            font-size: 18px;
            color: #fff;
        }
    }
    .ant-modal-close{
        color: #fff;
    }
    .ant-modal-footer{
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;
        button{
            min-width: 100px;
        }
    }
}


.hidden{display: none;}


.m-modal-edit-group{
    .modal-edit-group{
        text-align: center;
        .group-one{
            display: inline-block;
            width: 220px;
            height: 400px;
            background-color: #fff;
            border-radius: 6px;
            overflow: hidden;
            margin: 0 20px;
            margin-bottom: 30px;
            .one-header{
                height: 54px;
                padding-bottom: 10px;
                background-color: #74d4c0;
                h3{
                    padding-top: 8px;
                    padding-left: 10px;
                    padding-right: 10px;
                    margin-bottom:0;
                    font-size: 18px;
                    text-align: center;
                    color: #fff;
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                }
                span{
                    float: right;
                    margin-top: -5px;
                    margin-right: 10px;
                    color: #fff;
                }
            }
            ul{
                margin: 10px 0;
                height: 326px;
                overflow-y: auto;
                overflow-x: hidden;
                li{
                    margin: 5px 0;
                    span{
                        display: block;
                        text-align: center;
                        border:solid 1px #74d4c0;
                        cursor: move;
                        width: 132px;
                        padding: 0 5px;
                        margin: 0 auto;
                        height: 28px;
                        line-height: 26px;
                        border-radius: 26px;
                        font-size: 16px;
                        overflow: hidden;
                        white-space: nowrap;
                        text-overflow: ellipsis;
                    }
                }
            }
            &:hover{
                -moz-box-shadow:0px 0px 10px #ccc; -webkit-box-shadow:0px 0px 10px #ccc; box-shadow:0px 0px 10px #ccc;
            }
        }
        .group-null{
            background-color: #fff;
            display: inline-block;
            width: 200px;
            height: 60px;
            line-height: 60px;
            border-radius: 60px;
        }
        
    }
    .ant-modal-content{
        background-color: transparent;
        box-shadow: 0 0 0;
    }
    .ant-modal-footer{
        border-top: 0;
        text-align: center;
    }
}